

@using System.Web;
@using Microsoft.AspNet.Identity




<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AWolR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link href="~/Content/allanbootstrap.css" rel="stylesheet" />




    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Comfortaa'>
</head>
<body>


    <a href="#contact" data-toggle="collapse">
        <i class="icon-action fa fa-chevron-down"></i>
        <h6 class="title">Second heading </h6>
    </a>

    <div class="filter-content collapse" id="contact">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt deserunt mollit anim id est laborum.
        </p>
    </div>

    @{string dat = "collapse" + "3";}
    <a href="#@dat" data-toggle="collapse">
        <i class="icon-action fa fa-chevron-down"></i>
        <h6 class="title">Some heading </h6>
    </a>

    <div id="@dat" class="filter-content collapse">
        <p>Contact Poster</p>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-lightblue">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("My AWOLR Items", "UserPosts", "Items")&nbsp&nbsp</li>
                    <li>@Html.ActionLink("User Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                }
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto awolr-logo" href="Start">AwolR</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()



                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>



                    }
                }
                else
                {
                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })&nbsp;|&nbsp;</li>

                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                }
            </ul>
        </div>
    </nav>


    @System.Web.HttpContext.Current.Session["UserEmail"];
    <img src="~/pictures/awolrlogo.png.gif" style="display: block;
                    margin-left: auto;
                  margin-right: auto;" />




    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <div class="bottom-footer">





        @Html.ActionLink("FAQ", "FAQ", "Account") |
        @Html.ActionLink("Privacy", "Privacy", "Account") |
        @Html.ActionLink("Contact Us", "Contact", "Account") |
        @if (ViewBag.Country == "Canada")
        {
            <a href="~/Items/CountryIndex/?countryname=usa">USA</a>
        }

        else
        {
            <a href="~/Items/CountryIndex/?countryname=canada">Canada</a>
        }



    </div>





    <!-- jQuery library -->
    @Scripts.Render("~/bundles/jquery")

    <!-- Popper -->
    @Scripts.Render("~/bundles/popper")



    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/expandmenu.js"></script>
    <script src="~/Scripts/button.js"></script>
    <script src="~/Scripts/PreviewImage.js"></script>

    <!-- Initialize Bootstrap functionality -->
    <script>
        // Initialize tooltip component
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        // Initialize popover component
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
    @Scripts.Render("~/bundles/admin")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)




</body>
</html>

