

@using System.Web;
@using Microsoft.AspNet.Identity




<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css1")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Comfortaa' />
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Roboto:400' />
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400' />

    @RenderSection("MetaContent", false)


</head>
<body>




    <nav class="navbar navbar-expand-md navbar-dark bg-lightblue">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                @if (Request.IsAuthenticated)
                {
                    var User = String.Empty;

                    if (System.Web.HttpContext.Current.Session["UserEmail"] != null)
                    {
                        User = System.Web.HttpContext.Current.Session["UserEmail"].ToString();
                    }

                    <li class="headertext">@Html.ActionLink(User + ":UserPosts", "UserPosts", "Items", null, new { @class = "headertext" })&nbsp&nbsp</li>
                    <li>@Html.ActionLink("User Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "headertext" })</li>
                }
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto awolr-logo" href="/Items/Start">AwolR</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()



                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>



                    }
                }
                else
                {
                    <li>@Html.ActionLink("Register", "Register", "Account", null, new { id = "registerLink", @class = "headertext" })&nbsp;&nbsp;</li>

                    <li>@Html.ActionLink("Log in", "Login", "Account", null, new { id = "loginLink", @class = "headertext" })</li>
                }
            </ul>
        </div>
    </nav>




    <img src="~/pictures/logoSmallFile.png" style="display: block;

                  margin-top: 15px;
                  margin-bottom :15px;
                    margin-left: auto;
                  margin-right: auto;
                  width: 200px;" onclick="window.history.back();" />




    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <div class="bottom-footer">





        @Html.ActionLink("FAQ", "FAQ", "Account") |
        @Html.ActionLink("Privacy", "Privacy", "Account") |
        @Html.ActionLink("Contact Us", "Contact", "Account") |
        @if (ViewBag.Country == "Canada")
        {
            <a href="~/Items/CountryIndex/?countryname=usa">USA</a>
        }

        else
        {
            <a href="~/Items/CountryIndex/?countryname=canada">Canada</a>
        }



    </div>





    <!-- jQuery library -->
    @Scripts.Render("~/bundles/jquery")

    <!-- Popper -->
    @Scripts.Render("~/bundles/popper")

    @Scripts.Render("~/bundles/jqueryunobtrusive")

    @Scripts.Render("~/bundles/jqueryui")


    @Scripts.Render("~/bundles/admin")
    @Scripts.Render("~/bundles/bootstrap")
    @*<link href="~/Content/mdb/mdb.min.css" rel="stylesheet" />*@
    @RenderSection("scripts", required: false)


    <form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>


</body>
</html>

