@model List<RegistrationPractice.Entities.Item>
@using Microsoft.AspNet.Identity
<link href="~/Content/projectcards.css" rel="stylesheet" />


@for (var i = 0; i < 12; i++)
{
    int elementcount = Model.Count;
    if (i > (elementcount - 1))
    {
        @*<div class="col-sm-3 d-flex ">

                <div class="card project project-default" style="width: 75rem;">
                    <div class="card-body">
                    </div>
                </div>
            </div>*@

    }
    else
    {
        var item = Model[i];
        <div class="col-sm-3 d-flex">

            <div class="card project project-default" @*style="width: 75rem;"*@>


                <div class="card-body">
                    <h5 class="card-title">@item.Description | Category:@item.Category.CategoryText</h5>
                    <p class="card-text">@item.AdditionalNotes</p>
                </div>
                <img class="card-img-top" src=@item.imageURL alt="@item.imageURL">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Lost: @item.LostLocation</li>
                    <li class="list-group-item">Reward: @item.ItemReward</li>
                    @{string dat = "i" + item.Id;}

                </ul>

                @if (Request.IsAuthenticated)
                {

                    <a href="#@dat" data-toggle="collapse">
                        <i class="icon-action fa fa-chevron-down"></i>
                        <h6 class="title">Contact Poster</h6>
                    </a>


                    <div id="@dat" class="post-id filter-content collapse" style="text-align:center; margin-left:10%; margin-right:10%;">
                        @*@using (Html.BeginForm("EmailRequest", "Items", FormMethod.Get))
                            {*@
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-group">

                            <textarea rows="1" cols="40" placeholder="@System.Web.HttpContext.Current.Session["UserEmail"];" readonly></textarea>
                            <textarea name="message" class="message" rows="3" cols="40" placeholder="message" required></textarea>
                            <input name="bid" type="hidden" class="bid" value="@ViewBag.BrowsingUserId" />
                            <input name="pid" type="hidden" class="pid" value="@item.UserId" />
                            <input name="email" type="hidden" class="email" value="@System.Web.HttpContext.Current.Session["UserEmail"];" />
                            <button type="button" class="submit-button">Submit</button>
                        </div>

                        @*}*@
                    </div>

                }
                else
                {
                    string returnurl = HttpContext.Current.Request.Url.AbsolutePath;
                    <p>@Html.ActionLink("Login", "Login", "Account", new { returnUrl = returnurl }, null) to contact poster.</p>
                }




            </div> @*//end of card body*@
        </div> @*//end of col*@



    }
}


