@model List<RegistrationPractice.Entities.Item>
@using Microsoft.AspNet.Identity
<link href="~/Content/projectcards.css" rel="stylesheet" />
@if (@Model.Count == 0)
{
    <h1>No @ViewBag.PostType Items</h1>
}
else
{
    <h1>@ViewBag.ItemCount  @ViewBag.PostType Items</h1>
}
<div class="container">
    <div class="row">
        @for (var i = 0; i < Model.Count; i++)
        {

            var item = Model[i];
            string dat = "i" + item.Id;
            string shareid = @dat + "share";
            string buttonid = item.Id + "button";
            string checkboxid = item.Id + "checkbox";
            string messagesent = "sent" + item.Id;
            string messageid = "message" + item.Id;


            <div class="col-sm-3 d-flex">

                <div class="card project project-default" @*style="width: 75rem;"*@>


                    <div class="card-body">
                        <h5 class="card-title">@item.Description</h5>
                    </div>
                    @if (item.imageURL != null)
                    {
                        <img class="card-img-top" src=@item.imageURL alt="@item.imageURL">
                    }
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@ViewBag.PostType location: @item.LostLocation</li>
                        <li class="list-group-item"><b style="color:#85bb65">REWARD: $@item.ItemReward</b></li>
                        <li class="list-group-item">Created: @item.CreationDate.ToString("MM/dd/yyyy")</li>
                        <li class="list-group-item">Share Views: @item.Visits</li>
                        <li class="list-group-item">Additional Notes: @item.AdditionalNotes</li>
                        <li class="list-group-item">Category: @item.Category.CategoryText</li>
                        @if (@item.EmailRelayAddress != null)
                        {
                            <li class="list-group-item">Serial Number: @item.SerialNumber</li>
                        }


                    </ul>

                    @*@if (Request.IsAuthenticated)
                        {

                            <a href="#@dat" data-toggle="collapse">
                                <i class="icon-action fa fa-chevron-down"></i>
                                <h6 class="title">Contact Poster</h6>
                            </a>

                            <div id="@messagesent" style="display:none; color:green">Message Queued</div>
                            <div id="@dat" class="post-id filter-content collapse" style="text-align:center; margin-left:10%; margin-right:10%;">

                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="input-group">


                                    @if (item.PostType.PostTypeText.ToLower() == "lost")
                                    {
                                        <div class="form-check" style="display:none;">
                                            <input type="checkbox" class=";" -check-input lostcheckbox" id="" name="lostcheckbox">
                                            <label class="form-check-label" for="exampleCheck1">Found/Return</label>
                                        </div>
                                    }
                                    @if (item.PostType.PostTypeText.ToLower() == "found")
                                    {
                                        <div class="form-check" style="display:none;">
                                            <input type="checkbox" class="form-check-input foundcheckbox" id="" name="foundcheckbox">
                                            <label class="form-check-label" for="exampleCheck1">Claim/Recover</label>
                                        </div>
                                    }
                                    @if (item.PostType.PostTypeText.ToLower() == "stolen")
                                    {
                                        <div class="form-check" style="display:none;">
                                            <input type="checkbox" class="form-check-input stolencheckbox" id="" name="stolencheckbox">
                                            <label class="form-check-label" for="exampleCheck1">Return</label>
                                        </div>
                                        <div class="form-check" style="display:none;">
                                            <input type="checkbox" class="form-check-input anonymoustipcheckbox" id="" name="anonymoustipcheckbox">
                                            <label class="form-check-label" for="exampleCheck1">Anonymous Tip</label>
                                        </div>

                                    }
                                </div>

                                <textarea name="email" class="email" rows="1" cols="40" placeholder="@System.Web.HttpContext.Current.Session["UserEmail"]" readonly></textarea>
                                <textarea id="@messageid" name="message" class="message" rows="3" cols="40" placeholder="message" required></textarea>
                                <input name="bid" type="hidden" class="bid" value="@ViewBag.BrowsingUserId" />
                                <input name="pid" type="hidden" class="pid" value="@item.UserId" />
                                <input name="email" type="hidden" class="email" value="@System.Web.HttpContext.Current.Session["UserEmail"]" />
                                <input name="postid" type="hidden" value="@item.Id" />
                                <input name="posttype" type="hidden" value="@ViewBag.PostType" />


                                <input type="button" name="adresponsesubmit" id="@buttonid" class="btn" style="margin:auto;display:block;" value="submit" />




                            </div>


                        }
                        else*@


                    @{
                        string returnurl = String.Format("{0}&rp={1}", HttpContext.Current.Request.Url.PathAndQuery, ViewBag.paging);
                    }
                    <p>@Html.ActionLink("Contact & Share", "Details", "Items", new { state = item.Id }, new { returnUrl = returnurl }) </p>



                    @*<a href="#@shareid" data-toggle="collapse">
                            <i class="icon-action fa fa-chevron-down"></i>
                            <h6 class="title">share</h6>
                        </a>


                        <div id="@shareid" class="post-id filter-content collapse" style="text-align:center; margin-left:10%; margin-right:10%;">
                            <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="https://www.awolr.com/items/details/@item.Id" data-a2a-title="https://awolr.com @item.PostType.PostTypeText: @item.Description">

                                <a class="a2a_button_facebook"></a>
                                <a class="a2a_button_twitter"></a>
                                <a class="a2a_button_google_plus"></a>
                                <a class="a2a_button_reddit"></a>
                                <a class="a2a_button_email"></a>
                                <a class="a2a_button_google_gmail"></a>
                                <a class="a2a_button_sms"></a>
                                <a class="a2a_button_copy_link"></a>
                                <a class="a2a_button_linkedin"></a>
                            </div>

                        </div>


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h7>Id: @item.Id<h7 /></li>
                        </ul> *@
                </div> @*//end of card body*@
            </div> @*//end of col*@

        }
    </div>
</div>
@{
    int itemsperpage = ViewBag.itemsperpage;
    int totalitems = ViewBag.totalitems;
    int currentpage = ViewBag.paging;
    int totalpages = (totalitems + itemsperpage - 1) / itemsperpage;
    int previous = currentpage - 1;
    int next = currentpage + 1;

}

<div aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

        @if (previous > 0)
        {
            var id = "p" + previous;
            <li class="page-item"><a id="@id" class="page-link">Previous</a></li>
        }

        @for (var j = 0; j < totalpages; j++)
        {
            int indexshift = j + 1;
            var id = "page" + indexshift;
            string active = "";
            if (currentpage == indexshift)
            {
                active = "active";
            }

            <li class="page-item @active"><a id="@id" class="page-link">@indexshift</a></li>

        }
        @if (next <= totalpages)
        {
            var id = "n" + next;
            <li class="page-item"><a id="@id" class="page-link">Next</a></li>
        }
    </ul>
</div>

<script>
    var a2a_config = a2a_config || {};
    a2a_config.onclick = 1;
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>

<!-- AddToAny END -->