@using RegistrationPractice.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}



        <section id="loginForm">
            <div class="lostitems">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <input type="text" placeholder="Enter your email" name="email" >

                    <input type="password" placeholder="Password" name="password">

                    <input type="submit" name="submit" value="Login">

                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    //Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                }
            </div>
        </section>
    
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}