@model RegistrationPractice.Entities.Test

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LostOrFoundItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LostOrFoundItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoReward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoReward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemReward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemReward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Returned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Returned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerUserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerUserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HideItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HideItem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
