@model List<RegistrationPractice.Entities.Item>
@using RegistrationPractice.ViewModels;


@{

    Layout = "~/Views/Shared/_Jumbotron.cshtml";

}

<br>
@*@using (Ajax.BeginForm("CityIndex", "Items", new { partialmode = true, posttypefilter = ViewBag.PostType }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "grid", OnSuccess = "success( data, textStatus, jqxhr )" }, new { @id = "pagingform" }))*@
@using (Ajax.BeginForm("CityIndex", "Items", new { posttypefilter = ViewBag.PostType, p = ViewBag.paging }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "grid", OnSuccess = "success( data )" }, new { @id = "pagingform" }))
{
    if (ViewBag.detailsview == false)
    {

        ViewBag.Title = "AwolR City Index";

        <h1 class="city" onclick="window.history.back();">@ViewBag.city_province</h1>
        <h1 class="lfs">Lost</h1>
        <div class="text">
            <li>

                <a href="/items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city/lost">All</a> lost items
            </li>
            <br>
            <li>
                <a href="/items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city/lost/create">Post</a> something you've lost
            </li>
        </div>

        <h1 class="lfs">Found</h1>
        <div class="text">
            <li>
                <a href="/items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city/found">All</a> found items
            </li>

            <br />

            <li>
                <a href="/items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city/found/create">Post</a> something you've found
            </li>

        </div>


        <h1 class="lfs">Stolen</h1>
        <div class="text">
            <li>
                <a href="/items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city/stolen">All</a> stolen items
            </li>

            <br />

            <li>
                <a href="/items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city/stolen/create">Post</a> something that was stolen
            </li>
            <br>
        </div>
    }
    else
    {
        ViewBag.Title = ViewBag.city + " Listings";
        <a href="/Items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city" onclick="window.history.back();"><h1 class="city">@ViewBag.city_province</h1></a>



        <input type="text" class="itemsearchbox" name="search_or_post" placeholder="Search" maxlength="30">
        <input type="submit" class="search-button" value="Search">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="includecategoriescheckbox" name="includecategoriescheckbox">
            <label class="form-check-label" for="exampleCheck1">Filter By Category</label>
        </div>
        @Html.DropDownList("CategoryID", null, new { @class = "category-dropdown" })


        <input id="servername" type="hidden" name="servername" value="@ViewBag.server" />

        <div id="grid">

            @Html.Partial("_PostCards", Model)
        </div>



        <input type="hidden" name="paging" id="paging" />
    }

}






