@model List<RegistrationPractice.Entities.Item>
@using RegistrationPractice.ViewModels;


@{
    ViewBag.Title = "cityindex";
    Layout = "~/Views/Shared/_Jumbotron.cshtml";
}

<br>
@if (!ViewBag.detailsview)
{


    <h1 class="city">@ViewBag.city_province</h1>
    <h1 class="lfs">Lost</h1>
    <div class="text">
        <li>

            <a href="/items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city/lost">All</a> lost items
        </li>
        <br>
        <li>
            <a href="/items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city/lost/create">Post</a> something you've lost
        </li>
    </div>

    <h1 class="lfs">Found</h1>
    <div class="text">
        <li>
            <a href="/items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city/found">All</a> found items
        </li>

        <br />

        <li>
            <a href="/items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city/found/create">Post</a> something you've found
        </li>

    </div>


    <h1 class="lfs">Stolen</h1>
    <div class="text">
        <li>
            <a href="/items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city/stolen">All</a> stolen items
        </li>

        <br />

        <li>
            <a href="/items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city/stolen/create">Post</a> something that was stolen
        </li>
        <br>
    </div>
}
else
{
    <a href="/Items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city"><h1 class="city">@ViewBag.city_province</h1></a>
    if (@Model.Count == 0)
    {
        <h1>All @ViewBag.PostType Items</h1>
    }
    else
    {
        <h1>@Model.Count @ViewBag.PostType Items</h1>
    }

    <form method="get" action="/Items/@ViewBag.country/@ViewBag.province/cityindex/@ViewBag.city/@ViewBag.PostType">
        <input type="text" class="itemsearchbox" name="search_or_post" placeholder="Search" maxlength="30" required="">
        <input type="submit" value="Search">
    </form>




    <div class="container">
        <div class="row">
            @{ int pagesize = 8;
                for (int x = 0; x < Model.Count; x += pagesize)
                {


                    @Html.Partial("_PostCards", Model.Skip(x).Take(pagesize).ToList<RegistrationPractice.Entities.Item>());

                }
            }
        </div>
    </div>

}




