<h1 class="city">Find Your Stuff</h1>
@if (ViewBag.country == "Canada")
{

    <br />
    <br />
    <img src="~/pictures/colors3-CA-fys.png" class="countryimage" />

    <button id="al">allan</button>
    <h1 class="lfs">Select Your City</h1>

    <div class="cities">


        <ul class="citieslist mblist">
            <li> @Html.ActionLink("Victoria", "Canada/BC/CityIndex/Victoria")</li>

            <li>
                @Html.ActionLink("Vancouver", "Canada/BC/CityIndex/Vancouver")

            </li>


            <li>@Html.ActionLink("Edmonton", "Canada/AB/CityIndex/Edmonton")</li>

            <li>
                @Html.ActionLink("Calgary", "Canada/AB/CityIndex/Calgary")
            </li>



            <li>
                @Html.ActionLink("Regina", "Canada/SK/CityIndex/Regina")
            </li>


            <li>
                @Html.ActionLink("Saskatoon", "Canada/SK/CityIndex/Saskatoon")
            </li>

            <li>
                @Html.ActionLink("Brandon", "Canada/MB/CityIndex/Brandon")
            </li>
            <li>
                @Html.ActionLink("Winnipeg", "Canada/MB/CityIndex/Winnipeg")
            </li>


            <li>
                @Html.ActionLink("Thunder Bay", "Canada/ON/CityIndex/Thunder Bay")
            </li>
            <li>@Html.ActionLink("Toronto", "Canada/ON/CityIndex/Toronto")</li>
        </ul>
        <ul class="citieslist mb2-list">
            <li> @Html.ActionLink("Victoria", "Canada/BC/CityIndex/Victoria")</li>

            <li>
                @Html.ActionLink("Vancouver", "Canada/BC/CityIndex/Vancouver")

            </li>


            <li>@Html.ActionLink("Edmonton", "Canada/AB/CityIndex/Edmonton")</li>

            <li>
                @Html.ActionLink("Calgary", "Canada/AB/CityIndex/Calgary")
            </li>



            <li>
                @Html.ActionLink("Regina", "Canada/SK/CityIndex/Regina")
            </li>


            <li>
                @Html.ActionLink("Saskatoon", "Canada/SK/CityIndex/Saskatoon")
            </li>

            <li>
                @Html.ActionLink("Brandon", "Canada/MB/CityIndex/Brandon")
            </li>
            <li>
                @Html.ActionLink("Winnipeg", "Canada/MB/CityIndex/Winnipeg")
            </li>


            <li>
                @Html.ActionLink("Thunder Bay", "Canada/ON/CityIndex/Thunder Bay")
            </li>
            <li>@Html.ActionLink("Toronto", "Canada/ON/CityIndex/Toronto")</li>
        </ul>

    </div>
}
else if (ViewBag.country == "USA")
{



    <br />
    <br />

    <img src="~/pictures/colors2-usa-fys.png" class="countryimage" />
    <h1>Coming Soon!</h1>
}

