<h1 class="city">Find Your Stuff</h1>
@if (ViewBag.country == "canada")
{

    <br />
    <br />
    <img src="~/pictures/colors3-CA-fys.png" />


    <h1 class="lfs">Select Your City</h1>
    <div class="cities">



        <li> @Html.ActionLink("Victoria", "Canada/BC/CityIndex/Victoria")</li>

        <li>
            @Html.ActionLink("Vancouver", "Canada/BC/CityIndex/Vancouver")
        </li>
        <br>
        <li>@Html.ActionLink("Edmonton", "Canada/AB/CityIndex/Edmonton")</li>
        <li>
            @Html.ActionLink("Calgary", "Canada/AB/CityIndex/Calgary")
        </li>
        <br>
        <li>
            @Html.ActionLink("Regina", "Canada/SK/CityIndex/Regina")
        </li>
        <li>
            @Html.ActionLink("Saskatoon", "Canada/SK/CityIndex/Saskatoon")
        </li>
        <br>
        <li>
            @Html.ActionLink("Brandon", "Canada/MB/CityIndex/Brandon")
        </li>
        <li>
            @Html.ActionLink("Winnipeg", "Canada/MB/CityIndex/Winnipeg")
        </li>
        <br>

        <li>
            @Html.ActionLink("Thunder Bay", "Canada/ON/CityIndex/Thunder Bay")
        </li>
        <li>@Html.ActionLink("Toronto", "Canada/ON/CityIndex/Toronto")</li>

    </div>
}
else if (ViewBag.country == "usa")
{



    <br />
    <br />

    <img src="~/pictures/colors2-usa-fys.png" />
    <h1>Coming Soon!</h1>
}

