<h1 class="city">Find Your Stuff</h1>
@if (ViewBag.country == "canada")
{
    <img src="~/pictures/mapofcanada.png" />
    <h1 class="lfs">Select Your City</h1>
    <div class="cities">



        @Html.ActionLink("Victoria", "Canada/BC/CityIndex/Victoria"),

        @Html.ActionLink("Vancouver", "Canada/BC/CityIndex/Vancouver"),
        <br>
        @Html.ActionLink("Edmonton", "Canada/AB/CityIndex/Edmonton"),
        @Html.ActionLink("Calgary", "Canada/AB/CityIndex/Calgary"),
        <br>
        @Html.ActionLink("Regina", "Canada/SK/CityIndex/Regina"),
        @Html.ActionLink("Saskatoon", "Canada/SK/CityIndex/Saskatoon"),
        <br>
        @Html.ActionLink("Brandon", "Canada/MB/CityIndex/Brandon"),
        @Html.ActionLink("Winnipeg", "Canada/MB/CityIndex/Winnipeg"),
        <br>

        @Html.ActionLink("Thunder Bay", "Canada/ON/CityIndex/Thunder Bay"),
        @Html.ActionLink("Toronto", "Canada/ON/CityIndex/Toronto"),
    </div>
}
else if (ViewBag.country == "usa")
{

}

