@model RegistrationPractice.Entities.Item

@{
    ViewBag.Title = "Details";
}

@section MetaContent
{
    <meta property="og:title" content="@Model.PostType.PostTypeText Item:@Model.Description - @Model.Description. awolr.com. " />
    <meta property="og:url" content="https://www.awolr.com/items/details/@Model.Id" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="@Model.PostType.PostTypeText Item:@Model.Description - @Model.Description. awolr.com. " />
    <meta property="og:image:secure_url" content="@Model.PostType.PostTypeText Item:@Model.Description - @Model.Description. awolr.com. " />

    @if (Model.imageURL != null)
    {
        string a = String.Format("{0}{1}", "https://awolr.com", Model.imageURL);
        <meta property="og:image" content="@a" />
    }






}

<div class="lostitems">

    <strong>PostType:</strong> @Model.PostType.PostTypeText <br /><br />

    <strong>Category:</strong> @Model.Category.CategoryText <br /><br />

    <strong>Item Location:</strong> @Model.Location.LocationText <br /><br />

    <strong>What:</strong> @Model.Description <br /><br />

    <strong>Where:</strong> @Model.LostLocation<br /><br />

    <strong>When:</strong> @Model.FoundDate.ToShortDateString()<br><br>

    <strong>Description:</strong> @Model.AdditionalNotes		<br><br>

    @if (Model.PostType.PostTypeText != "found")
    {
        <strong>Reward $</strong> @Model.ItemReward<br><br>
    }


    @if (Model.imageURL != null)
    {
        <img id="detailsimage" src="@Html.DisplayFor(modelItem => Model.imageURL)" width="100%" alt="@Html.DisplayFor(modelItem => Model.imageTitle)" />
        <br />
        <br />
    }
</div>

