@model RegistrationPractice.Entities.Item

@{
    ViewBag.Title = "Edit";
}


<div class="form-horizontal">
    @using (Html.BeginForm("Edit", "Items", FormMethod.Post, new { enctype = "multipart/form-data", @class = "simpleform" }))
    {
        @Html.AntiForgeryToken()



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.OwnerUserEmail)
        @Html.HiddenFor(model => model.PostTypeID)
        @Html.HiddenFor(model => model.LostLocation)
        @Html.HiddenFor(model => model.City)
        @Html.HiddenFor(model => model.Country)
        @Html.HiddenFor(item => item.imageURL)
        @Html.HiddenFor(item => item.CreationDate)
        @Html.HiddenFor(item => item.LocationID)
        @Html.HiddenFor(item => item.CategoryID)
        <input type="hidden" id="UpdatedActionsFileUpload" name="UpdatedActionsFileUpload" value="none" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h1>Edit Form</h1>
        <div class="www">
            <b> @Model.PostType.PostTypeText </b>
        </div>
        <div class="www">
            <b>@Model.Category.CategoryText </b>
        </div>
        <div class="www">
            <b> @Model.City </b>
        </div>
        <div class="www">
            <b>@Model.LostLocation </b>
        </div>
        <div class="www">
            <label>Reward</label>
            @Html.EditorFor(model => model.ItemReward, new { htmlAttributes = new { @class = "form-control labelontop" } })
            @Html.ValidationMessageFor(model => model.ItemReward, "", new { @class = "text-danger" })
        </div>
        <br /><br />

        <div class="www">
            <label>Description</label>
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control labelontop" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
        <br /><br />
        <div class="www">
            <label>AdditionalNotes</label>
            @Html.EditorFor(model => model.AdditionalNotes, new { htmlAttributes = new { @class = "form-control labelontop" } })
            @Html.ValidationMessageFor(model => model.AdditionalNotes, "", new { @class = "text-danger" })
        </div>
        <label for="files" class="custom-file-upload" style="padding:5px;">
            Upload ImageFile
        </label>
        <input type="file" class="custom-file-upload" name="files" id="files" multiple="multiple" accept=".jpg,.jpeg,.png" file-upload />
        <div>.jpg,.png (5MB MAX)</div>

        <div class="alert alert-danger hidden">File Could Not Be Uploaded</div>



        <div class="www">
            @if (ViewBag.ImageUrl == null)
            {
                <div img-preview class="thumbnail" id="img-preview" style="display:none">



                    <div img-preview class="thumbnail" id="img-preview">

                        <img class="img-responsive" src="@ViewBag.ImageUrl" target-img />

                        <div class="caption">

                            <a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i> </a>
                            <p img-description></p>

                        </div>

                    </div>


                </div>
            }
            @if (ViewBag.ImageUrl != null)
            {
                <div img-preview class="thumbnail" id="img-preview">



                    <div img-preview class="thumbnail" id="img-preview">

                        <img class="img-responsive" src="@ViewBag.ImageUrl" target-img />

                        <div class="caption">

                            <a href="#" onclick="ClearPreview()"><i class="glyphicon glyphicon-trash"></i> </a>
                            <p img-description></p>

                        </div>

                    </div>


                </div>
            }

        </div>




        <div class="www">
            <input type="submit" class="btn btn-info" value="Submit">
        </div>
        <br>
        <br />

    }
</div>

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
