@model IEnumerable<RegistrationPractice.Entities.Item>

@{
    ViewBag.Title = "Lost Items";
}

<h2>Lost Items</h2>

@using (Html.BeginForm())
{
    <p>
        Search Term: @Html.TextBox("searchTerm")
        <input type="submit" value="Search" />
    </p>
}
<div search-form></div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailRelayAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reward)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visits)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Returned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.imageURL)
         
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.imageTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayItem)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.LocationText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailRelayAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reward)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visits)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Returned)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.ApplicationUserId)
        </td>*@
        <td>
            <img style="max-height:100px;max-width:100px;" src="@Html.DisplayFor(modelItem => item.imageURL)" alt="@Html.DisplayFor(modelItem => item.imageTitle)"/>
        </td>
        
        @*<td>
            @Html.DisplayFor(modelItem => item.DisplayItem)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
