@model IEnumerable<RegistrationPractice.Entities.Item>

@{
    ViewBag.Title = "Index";
}

<h2>My Lost Items</h2>



@foreach (var item in Model)
{
    <div class="lostitems">

        <strong>PostType:</strong> @item.PostType.PostTypeText <br /><br />

        <strong>Category:</strong> @item.Category.CategoryText <br /><br />

        <strong>Item Location:</strong> @item.Location.LocationText <br /><br />

        <strong>What:</strong> @item.Description <br /><br />

        <strong>Where:</strong> @item.LostLocation<br /><br />

        <strong>When:</strong> @item.FoundDate.ToShortDateString()<br><br>

        <strong>Description:</strong> @item.AdditionalNotes		<br><br>

        @if (item.PostType.PostTypeText != "found")
        {
            <strong>Reward $</strong> @item.ItemReward<br><br>
        }

        @if (item.imageURL != null)
        {
            <img src="@Html.DisplayFor(modelItem => item.imageURL)" width="100%" alt="@Html.DisplayFor(modelItem => item.imageTitle)" />
            <br />
            <br />
        }

        @Html.ActionLink("Edit", "Edit", "Items", new { id = item.Id }, null) |

        @Html.ActionLink("Delete", "Delete", "Items", new { id = item.Id }, null)
    </div>

}

